.modal-button {
  padding: 20px;
  text-align: right;
}

.modalOrigin {
  position: absolute;
  height: 55%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: #fefefe;
  border: 2px solid #000;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.user-button {
  padding: 20px;
  text-align: right;
}

.modal-header {
  padding-left: 5px;
}
.modal-input {
  position: absolute;
  height: 50%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: rgb(168, 3, 130);
  border: 2px solid #000;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-input {
  padding: 5px;
  width: 100%;
}

.notes-container {
  padding: 5px;
}

.notes-box {
  width: 100%;
}

.form-button {
  text-align: right;
  margin-top: 50px;
  padding: 5px;
}

.select-user-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: grey;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.add-event {
  text-align: right;
}

.add-event-button {
  padding: 20px;
}

.event-form {
  margin: 20px;
}