.table-container {
  position: absolute;
  height: 45%;
  width: 40%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.edit-button {
  text-align: right;
}

.update-button {
  display: inline;
  text-align: left;
}

.cancel-button {
  display: inline;
  text-align: left;
}

.modal-padding {
  padding: 20;
}
