.paperPanel {
  padding: 20px;
  text-align: center;
}

.beTheBoss {
  text-align: center;
}

.inputs {
  position: relative;
  width: 180px;
  height: 20px;
}

h1 {
  color: #30404a;
}

h2 {
  color: #30404a;
}

h4 {
  color: #30404a;
}
