body {
  background-color: #767676;
  color: #1a262a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: rgb(182 193 203);
}

.alert {
  background-color: #cb3e4b;
  margin: 50px;
}

form {
  background-color: #767676;
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in,
.log-out,
.register {
  background-color: #f0ad43;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #f0ad43;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.FormControl {
  /* background-color: #dbd5d5; */
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

.select-css {
  /* display: block; */
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: grey;
  /* line-height: 1.3;
	padding: .6em 1.4em .5em .8em; */
  /* width: 100%;
	max-width: 100%; */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.noBullets {
  list-style-type: none;
}

.modal {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 2px solid #000;
  padding: 5px;
  box-sizing: border-box;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);
  outline: none;
}

.modal:focus {
  outline: none;
}

.modalTitle {
  position: relative;
  margin: 0;
  padding: 25px 20px 25px;
  font-size: 2rem;
  color: #1a262a;
}

.modalTitle:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  border-top: 2px solid #1a262a;
  width: 60%;
}

.modal-input {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: #fefefe;
  border: 2px solid #000;
  padding: 5px;
  transform: translate(-50%, -50%);
}

.modal_main {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: #fefefe;
  border: 2px solid #000;
  padding: 5px;
  transform: translate(-50%, -50%);
}

.modal-content {
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  background-color: #fefefe;
}

.delete-icon-event {
  color: #f0ad43;
  align-items: right;
}

.add-event-input {
  padding: 10px;
}

.notes-container {
  padding: 10px;
}

.calendar-modal {
  position: absolute;
  height: auto;
  /* display: inline-block; */
  outline: none;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 2px solid #000;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.calendar-modal:focus {
  outline: none;
}

.date-picker {
  padding: 5px;
}

.add-event-header {
    position: relative;
    margin: 0;
    padding: 25px 20px 25px;
    font-size: 2rem;
    color: #1a262a;
  
}
  
.add-event-header:before {
    content: " ";
    position: absolute;
    bottom: 0;
    border-top: 2px solid #1a262a;
    width: 60%;
  }


  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }