.task-button {
  padding: 20px;
  text-align: right;
}

.modal-header {
  padding-left: 5px;
}
.modal-input {
  position: absolute;
  height: 50%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: rgb(232, 101, 19);
  border: 2px solid #000;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal_main {
  position: absolute;
  height: 50%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: rgb(232, 101, 19);
  border: 2px solid #000;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-input {
  padding: 5px;
  width: 100%;
}

.notes-container {
  padding: 5px;
}

.notes-box {
  width: 100%;
}

