.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #b6c1cb;
  padding-left: 10px;
  float: left;
  text-align: left;
}

.nav {
  overflow: hidden;
  background-color: #384954;
  text-align: center;
}

.nav-link {
  float: left;
  color: #b6c1cb;
  background-color: #384954;
  text-align: left;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #767676;
}

.nav-right {
  float: right;
}

.nav-left {
  display: inline-block;
}
