.modal-button {
  padding: 20px;
  text-align: right;
}

.modalPrime {
  position: absolute;
  height: 55%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: #fefefe;
  padding: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
